@require '~@/assets/variables'
@require '~@/assets/colors'

html, body
  font-size one-rem
  margin 0
*
  box-sizing border-box

a
  text-decoration none

p
  margin 0

.button
  padding 1rem
  margin 0 1rem
  background-color background-color
  cursor pointer
  text-align center

.separator
  height 1px
  width 100%
  background-color separator-color
  margin 1rem 0

.text-center
  text-align center
